{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}"/>
<link rel="stylesheet" href="{% static 'blog/post.css' %}"/>
{% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <img src={% static "blog/images/person_placeholder.jpg"%} alt="Author"/>
        <h2>Cole's Blog</h2>
    </header>
    <p>I am a software and indie game developer!</p>
</section>

<section id="latest-posts">
    <h2>What's Going On?</h2>
    <ul>
        <li>
            <article class="post">
                <a href="">
                    <img src={% static "blog/images/mountains.jpg"%} alt="Mountain Hiking"/>
                    <div class="post__content">
                        <h3>Mountain Hiking</h3>
                        <p>Hiking is great exercise and time for meditation.</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id="about">
    <h2>What I Do</h2>
    <p>I develop software and games as a professional and a hobbiest.</p>
</section>
{% endblock %}